In [5]:
# crawling
import requests as rq
import json
import time
import pandas as pd
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [2]:
################################ 크롤링 함수

def getData(name, table_code, time_period, search_from, search_to, item_code):
    print('함수까지 오기 성공 →'+name+' 실행중..', end = ' ')
    # 개인키
    api_key = 'ENK4DPM6R4VDSE7BI9YP'

    # 기본 설정
    service_name = "StatisticSearch"
    return_type = 'json'
    language = 'kr'
    start_num = '1'
    end_num = '10000'

    if name == '실업률':
        item_code2 = 'I28B'
        url = f'https://ecos.bok.or.kr/api/{service_name}/{api_key}/{return_type}/{language}/{start_num}/{end_num}/{table_code}/{time_period}/{search_from}/{search_to}/{item_code}/{item_code2}'
    else:
        url = f'https://ecos.bok.or.kr/api/{service_name}/{api_key}/{return_type}/{language}/{start_num}/{end_num}/{table_code}/{time_period}/{search_from}/{search_to}/{item_code}'

    res = rq.get(url, verify=False)
    time.sleep(0.02)

    if res.status_code == 200:
        my_json = json.loads(res.text)
        return my_json  # ['StatisticSearch']['row']                                           #my_json

    else:
        print('[[ ERROR ]]: ', res.status_code, ' → ', name)
        return

def make_df():
    ######################################### 지수 정보
    index_info = {
        '기준금리': {
            'table_code': "722Y001",  'time_period': "D",
            'search_from': "20230601", 'search_to': "20230831", 'item_code': "0101000"
        },'국고채10년': {
            'table_code': "817Y002", 'time_period': "D",
            'search_from': "20230601", 'search_to': "20230831", 'item_code': "010210000"
        },'국고채3년': {
            'table_code': "817Y002", 'time_period': "D",
            'search_from': "20230601", 'search_to': "20230831", 'item_code': "010200000"
        }, 'KOSPI': {
            'table_code': "901Y014", 'time_period': "M",
            'search_from': "202306", 'search_to': "202309", 'item_code': "1070000"
        }, '소비자물가지수': {
            'table_code': "902Y008", 'time_period': "M",
            'search_from': "202306", 'search_to': "202309", 'item_code': "KR"

        }, '실업률': {
            'table_code': "901Y027", 'time_period': "M",
            'search_from': "202306", 'search_to': "202309", 'item_code': "I61BC"
        }, '수출액': {
            'table_code': "902Y012", 'time_period': "M",
            'search_from': "202306", 'search_to': "202309", 'item_code': "KR"
        }, '소비자심리지수': {
            'table_code': "511Y002", 'time_period': "M",
            'search_from': "202306", 'search_to': "202309", 'item_code': "FMEA"
        }
    }

    ######################################### 수집 실행
    # 실데이터 목록
    tmp_list = []

    # 조회 기간 동안 데이터 없는 경우 지수 목록
    no_data_list = []
    # 진짜 error 리스트
    error_list = []

    for name in index_info.keys():

        table_code, time_period, search_from, search_to, item_code = index_info[name].values()
        tmp = getData(name, table_code, time_period, search_from, search_to, item_code)
        print()

        # 정상 작동
        if 'StatisticSearch' in list(tmp.keys()):

            # 쓸만한 이름으로 다시 부여
            for row_dict in tmp['StatisticSearch']['row']:
                row_dict['real_name'] = name
                row_dict['조회기준'] = time_period

            tmp_list += (tmp['StatisticSearch']['row'])

        # 데이터 없음
        elif 'INFO-200' in tmp['RESULT'].values():
            tmp['idx_name'] = name
            no_data_list.append(tmp)
            print('데이터 없음')

        # 진짜 오류임
        else:
            error_list.append(tmp)
            print('error 발생')

    ######################################### 데이터 생성
    x = pd.DataFrame({
        'real':[i['real_name'] for i in tmp_list],
        'date_unit':[i['조회기준'] for i in tmp_list],
        'date':[i['TIME'] for i in tmp_list ],
        'value':[i['DATA_VALUE'] for i in tmp_list]
    })

    # 6자리인 date를 0을 임의로 붙여서 7자리로 수정
    date_len_6 = list(x[x.date.str.len()<7].index)
    x.loc[date_len_6,'date'] = x.loc[date_len_6,'date']+'30'

    result = x.groupby(['date','real','date_unit','value']).count().reset_index().sort_values(by='date',ascending=True).reset_index(drop=True)
    return result

In [7]:
df = make_df()

함수까지 오기 성공 →기준금리 실행중..
함수까지 오기 성공 →국고채10년 실행중..
함수까지 오기 성공 →국고채3년 실행중..
함수까지 오기 성공 →KOSPI 실행중..
함수까지 오기 성공 →소비자물가지수 실행중..
함수까지 오기 성공 →실업률 실행중..
함수까지 오기 성공 →수출액 실행중..
데이터 없음
함수까지 오기 성공 →소비자심리지수 실행중..
데이터 없음

In [8]:
df

         date     real date_unit    value
0    20230601   국고채10년         D    3.549
1    20230601    국고채3년         D    3.478
2    20230601     기준금리         D      3.5
3    20230602   국고채10년         D    3.495
4    20230602    국고채3년         D    3.436
..        ...      ...       ...      ...
227  20230831   국고채10년         D    3.821
228  20230831     기준금리         D      3.5
229  20230930  소비자물가지수         M   130.82
230  20230930    KOSPI         M  2465.07
231  20230930      실업률         M      2.6

[232 rows x 4 columns]