## Import

In [1]:
from PublicDataReader import Kbland

import xlwings as xw
import pandas as pd
import numpy as np
import time
import os

# path setting
if not os.path.isdir('../../datasets/KB/'):
    os.mkdir('../../datasets/KB/')
    
os.chdir('../../datasets/KB/')

* functions

In [2]:
# 파일 불러오기
def read_data(file):
    try:
        output = pd.read_excel(file)
    except:
        def read_xlsx(name):
            instance = xw.App(visible=False)
            xlsx_data = xw.Book(name).sheets[0]
            df = xlsx_data.range('A1').options(pd.DataFrame, index = False, expand = 'table').value
            instance.quit()
            instance.kill()
            return df
        output = read_xlsx(file)
    return output

import PublicDataReader as pdr
code = pdr.code_bdong()
code.head()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023.10.30. 시행)

  시도코드    시도명  시군구코드 시군구명       법정동코드 읍면동명 동리명      생성일자 말소일자
0   11  서울특별시  11000       1100000000           19880423
1   11  서울특별시  11110  종로구  1111000000           19880423
2   11  서울특별시  11110  종로구  1111010100  청운동      19880423
3   11  서울특별시  11110  종로구  1111010200  신교동      19880423
4   11  서울특별시  11110  종로구  1111010300  궁정동      19880423

* 매매 가격 지수

In [3]:
def kbland_sales_price_idx1(a,b,c):
    # 매매가격지수
    # https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/kbland/Kbland.md#%EA%B0%80%EA%B2%A9%EC%A7%80%EC%88%981
    # 주간/월간 아파트.단독.연립.주택종합 매매/전세 가격지수
    api = Kbland()
    params = {
        "월간주간구분코드": a,
        "매물종별구분": b,
        "매매전세코드": c,
    }
    df = kb_api.get_price_index(**params)
    return df

def kbland_sales_price_change1(a,b,c):
    # 매매가격지수 증감률
    # https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/kbland/Kbland.md#%EA%B0%80%EA%B2%A9%EC%A7%80%EC%88%98%EC%A6%9D%EA%B0%90%EB%A5%A0
    params = {
    "월간주간구분코드": a,
    "매물종별구분": b,
    "매매전세코드": c,
    }
    df = kb_api.get_price_index_change_rate(**params)
    return df

def get_mnthly_price_idx1():
    # 월간 아파트 월세가격지수
    # https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/kbland/Kbland.md#%EA%B0%80%EA%B2%A9%EC%A7%80%EC%88%982
    return kb_api.get_monthly_apartment_wolse_index()

def get_sales_price_idx1():
    # 매매가격지수
    # 매매가격지수 증감률
    loop1 = ['01', '02'] # 월간, 주간
    loop2 = ['01', '08', '09', '98'] # 아파트, 연립, 단독, 주택종합
    loop3 = ['01', '02'] # 매매, 전세
    
    start = time.time()

    sales_dfs1 = []
    sales_dfs2 = []
    for a in loop1:
        for b in loop2:
            for c in loop3:
                sales_dfs1.append(kbland_sales_price_idx1(a,b,c))
                sales_dfs2.append(kbland_sales_price_change1(a,b,c)) # 증감률

    sales_df1 = pd.concat(sales_dfs1)
    sales_df2 = pd.concat(sales_dfs2)
    sales_df = pd.merge(sales_df1, sales_df2, on = ['월간주간구분', '매물종별구분', '거래구분', '지역코드', '지역명', '날짜'])
    
    end = time.time()
    print("수행시간: %f 초" % (end - start))
    
    return sales_df

def get_top50_idx():
    # KB선도아파트 50 지수
    # https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/kbland/Kbland.md#%EA%B0%80%EA%B2%A9%EC%A7%80%EC%88%983
    df = kb_api.get_lead_apartment_50_index()
    return df

def get_ratios():
    # 전세가격비율
    # https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/kbland/Kbland.md#%EC%A0%84%EC%84%B8%EA%B0%80%EA%B2%A9%EB%B9%84%EC%9C%A81
    start = time.time()
    
    loop2 = ['01', '08', '09', '98'] # 아파트, 연립, 단독, 주택종합

    ratios = []
    for a in loop2:
        params = {
            "매물종별구분": a,
        }
        ratios.append(kb_api.get_jeonse_price_ratio(**params))

    ratio_df = pd.concat(ratios)
    end = time.time()
    print("수행시간: %f 초" % (end - start))
    
    return ratio_df

def get_ratios2():
    # 전월세전환율
    # https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/kbland/Kbland.md#%EC%A0%84%EC%84%B8%EA%B0%80%EA%B2%A9%EB%B9%84%EC%9C%A82
    return kb_api.get_jeonwolse_conversion_rate()

def get_market_index():
    # 시장동향/설문조사
    # https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/kbland/Kbland.md#%EC%8B%9C%EC%9E%A5%EB%8F%99%ED%96%A5%EC%84%A4%EB%AC%B8%EC%A1%B0%EC%82%AC
    start = time.time()
    
    loop1 = ['01', '02', '03', '04', '05', '06'] # 매수우위지수, 매매거래활발지수, 전세수급지수, 전세거래활발지수, 매매가격전망지수, 전세가격전망지수
    loop2 = ['01', '02'] # 월간, 주간

    start = time.time()

    market_idx = []
    for a in loop1:
        for b in loop2:
            params = {
                "메뉴코드": a,
                "월간주간구분코드": b,
            }
            df = kb_api.get_market_trend(**params)
            temp_df = df.loc[:, :'날짜']
            temp_df['지수'] = df.iloc[:, -1]
            
            market_idx.append(temp_df)

    market_df = pd.concat(market_idx)
    
    end = time.time()
    print("수행시간: %f 초" % (end - start))
    
    return market_df

def get_per_price_df():
    # 면적별 가격 지수
    loop1 = ['01', '02'] # 월간, 주간
    loop2 = ['01', '08', '09', '98'] # 아파트, 연립, 단독, 주택종합
    loop3 = ['01', '02'] # 전용면적별(구), 전용면적별)
    loop4 = ['01', '02'] # 매매, 전세
    
    start = time.time()

    per_price = []
    for a in loop1:
        for b in loop2:
            for d in loop4:
                params = {
                    "월간주간구분코드": a,
                    "매물종별구분": b,
                    "면적별코드": '02',
                    "매매전세코드": d,
                }
                df = kb_api.get_price_index_by_area(**params)
                per_price.append(df)

    pp_df = pd.concat(per_price)
    
    end = time.time()
    print("수행시간: %f 초" % (end - start))
    
    return pp_df

def get_price_df():
    # 지역별 평균 가격
    # 지역별 제곱미터당 평균 가격
    # 지역별 중위 가격
    loop1 = ['01', '02'] # 월간, 주간
    loop2 = ['01', '08', '09', '98'] # 아파트, 연립, 단독, 주택종합
    
    start = time.time()

    avg_price = []
    avg_land_price = []
    median_price = []
    for a in loop1:
        for b in loop2:
            params = {
                "매물종별구분": b,
                "매매전세코드": a,
            }
            avg_price.append(kb_api.get_average_price(**params))
            avg_land_price.append(kb_api.get_average_price_per_squaremeter(**params))
            median_price.append(kb_api.get_median_price(**params))

    avg_df = pd.concat(avg_price)
    avg_land_df = pd.concat(avg_land_price)
    median_df = pd.concat(median_price)
    
    end = time.time()
    print("수행시간: %f 초" % (end - start))
    
    return avg_df, avg_land_df, median_df

def get_pir_df():
    # 소득 대비 주택 가격
    loop1 = ['01', '02'] # PIR, J-PIR
    
    start = time.time()

    pir_list = []
    for a in loop1:
        params = {
            "메뉴코드": a,
        }
        pir_list.append(kb_api.get_pir(**params))

    pir_df = pd.concat(pir_list)
    
    end = time.time()
    print("수행시간: %f 초" % (end - start))
    
    return pir_df

In [4]:
kb_api = Kbland()
sales_df = get_sales_price_idx1() # 매매,전세 가격 지수 및 증감률 (전국-도)
mnthly_df = get_mnthly_price_idx1() # 월간 아파트 월세가격 지수 (수도권, 도)
top50 = get_top50_idx() # 선도 50 지수 (전국)
ratio_df = get_ratios() # 매매 가격 대비 전세 가격 (전국-도)
ratio_df2 = get_ratios2() # 전월세 전환률 (수도권, 도)
market_df = get_market_index() # 매수우위, 전세수급, 거래활발, 전망 지수 (전국-도)
pp_df = get_per_price_df() # 전용 면적별 가격 지수 (전국-도)
avg_df, avg_land_df, median_df = get_price_df() # 지역별 평균 및 중위 가격 (전국-도)
pir_df = get_pir_df() # 소득 대비 주택 가격 (전국, 서울특별시)
hai_df = kb_api.get_hai() # 주택 구입 부담 지수 (전국 전체, 수도권, 기타지방)
kb_poten_df = kb_api.get_kb_housing_purchase_potential_index() # KB구매 잠재력 지수 (서울, 경기, 인천)
kb_loan_df = kb_api.get_apartment_mortgage_loan_pir() # KB구매 잠재력 지수 (서울, 경기, 인천)

수행시간: 72.249120 초
수행시간: 11.687028 초
수행시간: 60.000242 초
수행시간: 44.112596 초
수행시간: 41.538734 초
수행시간: 3.556897 초

In [ ]:
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "01",
    "매매전세코드": "01",
    "지역코드": "11",
    "기간": "1",
}
df = kb_api.get_price_index_change_rate(**params)
df.tail()

    월간주간구분 매물종별구분 거래구분        지역코드  지역명         날짜   가격지수증감률
333     월간    아파트   매매  1174000000  강동구 2023-06-01 -0.094459
334     월간    아파트   매매  1174000000  강동구 2023-07-01  0.418118
335     월간    아파트   매매  1174000000  강동구 2023-08-01  0.445742
336     월간    아파트   매매  1174000000  강동구 2023-09-01  0.450658
337     월간    아파트   매매  1174000000  강동구 2023-10-01  0.356318

* url 참고 : https://thisiswhoiam.tistory.com/36

In [26]:
import pandas as pd
import numpy as np
import requests

## 상위/하위 지역에 따른 URL 변경
def return_url(region_code):
    if region_code == '' :
        url = 'https://data-api.kbland.kr/bfmstat/weekMnthlyHuseTrnd/priceIndex?title=%EC%A3%BC%ED%83%9D%EC%A2%85%ED%95%A9+%EB%A7%A4%EB%A7%A4%EA%B0%80%EA%B2%A9%EC%A7%80%EC%88%98&%EB%A7%A4%EB%A7%A4%EC%A0%84%EC%84%B8%EC%BD%94%EB%93%9C=01&%EB%A7%A4%EB%AC%BC%EC%A2%85%EB%B3%84%EA%B5%AC%EB%B6%84=98&%EC%9B%94%EA%B0%84%EC%A3%BC%EA%B0%84%EA%B5%AC%EB%B6%84%EC%BD%94%EB%93%9C=01&type=true&apiFlag=priceIndex&%EB%A9%94%EB%89%B4%EC%BD%94%EB%93%9C=1&%EB%8B%A8%EC%9C%84=(%EA%B8%B0%EC%A4%80:2022.1+%3D+100.0)'
    else:
        url = 'https://data-api.kbland.kr/bfmstat/weekMnthlyHuseTrnd/priceIndex?title=%EC%A3%BC%ED%83%9D%EC%A2%85%ED%95%A9+%EB%A7%A4%EB%A7%A4%EA%B0%80%EA%B2%A9%EC%A7%80%EC%88%98&%EB%A7%A4%EB%A7%A4%EC%A0%84%EC%84%B8%EC%BD%94%EB%93%9C=01&%EB%A7%A4%EB%AC%BC%EC%A2%85%EB%B3%84%EA%B5%AC%EB%B6%84=98&%EC%9B%94%EA%B0%84%EC%A3%BC%EA%B0%84%EA%B5%AC%EB%B6%84%EC%BD%94%EB%93%9C=01&type=true&apiFlag=priceIndex&%EB%A9%94%EB%89%B4%EC%BD%94%EB%93%9C=1&%EB%8B%A8%EC%9C%84=(%EA%B8%B0%EC%A4%80:2022.1+%3D+100.0)&%EC%A7%80%EC%97%AD%EC%BD%94%EB%93%9C={}'.format(region_code)

    return url

## json 형태를 dataframe 형태로 변경
def make_dataframe(data, cols, num):
	# num 은 json 내에 실제 데이터 외 추가로 붙는 데이터를 끊어내기 위한 index
    tmp_df = pd.DataFrame.from_dict(data, orient='index')
    region_name = tmp_df.loc['지역명']

    transpose_df = pd.DataFrame(tmp_df.loc['dataList'].values[0][:num]).transpose()
    transpose_df.columns = cols
    transpose_df.index = region_name

    return transpose_df

## 상위지역/하위지역 데이터 수집 
def data_gathering(total_json, num):
    df_list = []
    cols = total_json['dataBody']['data']['날짜리스트']
    
    for data in total_json['dataBody']['data']['데이터리스트']:
        tmp_df = make_dataframe(data, cols, num)
        tmp_df['상위지역'] = np.nan
    
        df_list.append(tmp_df)
        
        if data['하위지역존재'] == 1:
            sub_url = return_url(data['지역코드'])
            sub_region_json = requests.get(sub_url).json()
    
            for sub_data in sub_region_json['dataBody']['data']['데이터리스트']:
                sub_tmp_df = make_dataframe(sub_data, cols, num)
                sub_tmp_df['상위지역'] = data['지역명']
                
                df_list.append(sub_tmp_df)
                
    return pd.concat(df_list)

#%% 예제로 전체 매매가격지수 데이터 크롤링
url = return_url('')
html = requests.get(url).json()
total_sales_df = data_gathering(html, -3)

In [29]:
total_sales_df

,198601,198602,198603,198604,198605,198606,198607,198608,198609,198610,...,202302,202303,202304,202305,202306,202307,202308,202309,202310,상위지역
지역명,,,,,,,,,,,,,,,,,,,,,
전국,27.682150,27.682150,27.723591,27.516389,27.392068,27.267747,27.184866,27.184866,27.184866,27.184866,...,95.848149,95.054235,94.315861,93.766432,93.536284,93.360230,93.308042,93.365214,93.423866,NaN
서울,23.472864,23.472864,23.440488,23.310982,23.116724,22.954842,22.890090,22.890090,22.890090,22.792961,...,96.687273,96.056148,95.530994,95.044851,94.875408,94.732179,94.697021,94.836176,94.942546,NaN
강북14개구,32.594416,32.554907,32.554907,32.436382,32.080807,32.080807,32.041298,32.041298,32.041298,31.922773,...,96.600950,95.867060,95.320780,94.736599,94.440109,94.174590,94.000805,94.030952,94.078454,NaN
종로구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.266199,99.933153,99.299555,99.133839,99.093927,99.113005,99.143761,99.242263,99.317360,강북14개구
중구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.570158,97.921461,97.570314,96.751347,96.220401,96.101916,96.114129,96.155024,96.217159,강북14개구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
김해시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.650974,96.033224,95.122026,94.549142,94.417017,94.337705,94.252784,94.090502,93.926826,경남
제주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.927996,100.725362,100.640169,100.567974,100.495218,100.415739,100.387660,100.381961,100.591117,NaN
강원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.124228,101.810943,101.568484,101.174688,100.980511,100.756193,100.710945,100.896245,101.009515,NaN
춘천시,42.278649,42.209339,42.209339,42.209339,42.140030,42.140030,42.140030,42.140030,42.140030,42.209339,...,101.535174,101.407016,101.237040,101.096001,101.020595,101.013796,101.184244,101.582354,101.834219,강원
원주시,39.495229,39.495229,39.297752,39.429403,39.429403,39.429403,39.429403,39.429403,39.429403,39.495229,...,101.644831,101.277717,100.963082,100.213843,99.854143,99.226180,98.982988,99.109544,99.212822,강원

* 파일 저장