## Import

In [1]:
from tqdm import tqdm

import requests
import os
import pandas as pd
import warnings


warnings.filterwarnings('ignore')

# path setting
if not os.path.isdir('../datasets/court/'):
    os.mkdir('../datasets/court/')
    
os.chdir('../datasets/court/')

* 기본 setting

In [222]:
# 연
year = [x for x in range(2000, 2024)]
# 월
month = [x for x in range(1, 13) if x % 2 == 1]

# api url
url_dict = {'소유권이전등기-강제경매':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000048',
           '소유권이전등기-임의경매':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000053',
           '소유권이전등기-공매':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000058',
            '소유권이전등기-매매':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000024',
            '강제경매개시결정등기현황':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000087',
            '임의경매개시결정등기현황':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000083',
            '소유권이전등기-매매(부동산)':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000020',
            '소유권이전등기-공매(부동산)':'https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest?id=0000000055',
           }

# api key
api_dict = {'소유권이전등기-강제경매':'2c47d668d3ac46059f410602643f86c4',
            '소유권이전등기-임의경매':'1814fd4b4cb34302be0c67e1eb67be7f',
            '소유권이전등기-공매':'8ff9bca9729a4bcead69efe2499c8dcd',
            '소유권이전등기-매매':'4c9002903c1b44ea852cba203b19fd45',
            '강제경매개시결정등기현황':'298e84b40fd14906907d7ff2df70f6b1',
            '임의경매개시결정등기현황':'d1d75945b014456e8adf1b81a254ba9c',
            '소유권이전등기-매매(부동산)':'8d4e9d52e0494c0e969f6d59594b0338',
            '소유권이전등기-공매(부동산)':'0034e3d4052e47ceadcaab93b5793cd1'
           }

In [191]:
api_loop = list(url_dict.keys())

In [223]:
api = '소유권이전등기-공매(부동산)'

url = url_dict[api]
select_key = api_dict[api]

# 수집
cnt = 0

for y in tqdm(year):
    for m in month:
        params = {
            'id': 'aurm2023',
            'reqtype': 'json',
            'key': select_key,

            'search_type_api': '02', # 01 - 년별 검색, 02 - 월별 검색, 03 - 일별 검색
            'search_start_date_api': '{a}{b}'.format(a = y, b = str(m).zfill(2)),
            'search_end_date_api': '{a}{b}'.format(a = y, b = str(m+1).zfill(2)),
        }

        r = requests.get(url, params=params)
        jo = r.json()
        temp = pd.DataFrame(jo['result']['items']['item'])

        if temp.shape[0] == 0:
            continue

        if cnt == 0:
            output = temp
        else:
            output = pd.concat([output, temp])

        cnt += 1

100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [03:37<00:00,  9.05s/it]

In [194]:
df_list = []

for api in api_loop:
    url = url_dict[api]
    select_key = api_dict[api]
    
    # 수집
    cnt = 0

    for y in tqdm(year):
        for m in month:
            params = {
                'id': 'aurm2023',
                'reqtype': 'json',
                'key': select_key,

                'search_type_api': '02', # 01 - 년별 검색, 02 - 월별 검색, 03 - 일별 검색
                'search_start_date_api': '{a}{b}'.format(a = y, b = str(m).zfill(2)),
                'search_end_date_api': '{a}{b}'.format(a = y, b = str(m+1).zfill(2)),
            }

            r = requests.get(url, params=params)
            jo = r.json()
            temp = pd.DataFrame(jo['result']['items']['item'])

            if temp.shape[0] == 0:
                continue

            if cnt == 0:
                output = temp
            else:
                output = pd.concat([output, temp])

            cnt += 1
            
    df_list.append(output)

100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [04:55<00:00, 12.31s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [06:31<00:00, 16.31s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [03:21<00:00,  8.41s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [03:11<00:00,  7.96s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [03:35<00:00,  8.97s/it]

In [ ]:
df1, df2, df3, df4, df5, df6, df7, df8 = df_list

In [155]:
df1.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt', '성별', '연령대']
df2.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt', '성별', '연령대']
df3.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt', '성별', '연령대']
df4.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt', '성별', '연령대']

df5.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt']
df6.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt']
df7.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt']
df8.columns = ['날짜', '지역', 'adminRegn2Name', 'cnt']

In [158]:
del df1['adminRegn2Name']
del df2['adminRegn2Name']
del df3['adminRegn2Name']
del df4['adminRegn2Name']
del df5['adminRegn2Name']
del df6['adminRegn2Name']
del df7['adminRegn2Name']
del df8['adminRegn2Name']

In [4]:
#data_path = 'C:\\Users\\Administrator\\Documents\\GitHub\\aurm\\Court-api\\datasets\\'
data_path = './datasets/'

In [218]:
df1.to_excel(data_path + '1.소유권이전등기(강제경매로 인한 매각) 신청 매수인 현황.xlsx', index = False) # 경매
df2.to_excel(data_path + '2.소유권이전등기(임의경매로 인한 매각) 신청 매수인 현황.xlsx', index = False) # 경매
df3.to_excel(data_path + '3.소유권이전등기(공매) 신청 매수인 현황.xlsx', index = False) # 공매
df4.to_excel(data_path + '4.소유권이전등기(매매) 신청 매수인 현황.xlsx', index = False) # 매매
df5.to_excel(data_path + '5.강제경매개시결정등기 신청 부동산 현황.xlsx', index = False) # 경매
df6.to_excel(data_path + '6.임의경매개시결정등기 신청 부동산 현황.xlsx', index = False) # 경매
df7.to_excel(data_path + '7.소유권이전등기(매매) 신청 부동산 현황.xlsx', index = False) # 매매
df8.to_excel(data_path + '8.소유권이전등기(공매) 신청 부동산 현황.xlsx', index = False) # 공매

* 연도별

In [10]:
def summary(input_):
    import copy
    df = copy.deepcopy(input_)
    
    df['구분'] = [x.split("-")[0] for x in df['날짜']]
    df['cnt'] = df['cnt'].astype(int)
    return df.groupby('구분')['cnt'].sum()

In [241]:
s_df1 = summary(df1)
s_df2 = summary(df2)
s_df3 = summary(df3)
s_df4 = summary(df4)

In [248]:
f_output = pd.concat([s_df4, s_df1, s_df2, s_df3], axis = 1)
f_output = f_output.reset_index()
f_output.columns = ['구분', '매매', '강제', '임의', '공매']
f_output['경/공매'] = f_output.iloc[:, 2:].sum(axis = 1)
f_output.loc[:, ['구분', '경/공매', '강제', '임의', '공매']].iloc[3:].to_excel(data_path + '연도별 매매, 경매 매수인 정리(2007-2023).xlsx', index = False)

* 5,6,7 처리

In [ ]:
df5 = pd.read_excel(data_path + '5.강제경매개시결정등기 신청 부동산 현황.xlsx') # 경매
df6 = pd.read_excel(data_path + '6.임의경매개시결정등기 신청 부동산 현황.xlsx') # 경매
df7 = pd.read_excel(data_path + '7.소유권이전등기(매매) 신청 부동산 현황.xlsx') # 매매

s_df5 = summary(df5)
s_df6 = summary(df6)
s_df7 = summary(df7)

f_output = pd.concat([s_df5, s_df6, s_df7], axis = 1)
f_output = f_output.reset_index()

f_output.columns = ['구분', '강제경매_부동산', '임의경매_부동산', '매매_부동산']
f_output = f_output.sort_values('구분')

f_output.iloc[3:,:].to_excel(data_path + '연도별 경매, 매매 부동산 현황 정리(2007-2023).xlsx', index = False)

* 연도-월별

In [271]:
def summary2(input_):
    df = copy.deepcopy(input_)
    
    df['cnt'] = df['cnt'].astype(int)
    return df.groupby('날짜')['cnt'].sum()

In [272]:
s_df12 = summary2(df1)
s_df22 = summary2(df2)
s_df32 = summary2(df3)
s_df42 = summary2(df4)

In [273]:
f_output = pd.concat([s_df42, s_df12, s_df22, s_df32], axis = 1)
f_output = f_output.reset_index()
f_output.columns = ['구분', '매매', '강제', '임의', '공매']
f_output['경/공매'] = f_output.iloc[:, 2:].sum(axis = 1)
#f_output.loc[:, ['구분', '경/공매', '강제', '임의', '공매']].iloc[3:].to_excel(data_path + '연도별 매매, 경매 매수인 정리(2007-2023).xlsx', index = False)

In [280]:
f_output.loc[f_output['구분'] >= '2007-01'].to_excel(data_path + '연도-월별 매매, 경매 매수인 정리(2007-2023).xlsx', index = False)

* 연령, 성별 산출

In [10]:
def read_data(file):
    try:
        output = pd.read_excel(file)
    except:
        def read_xlsx(name):
            import xlwings as xw
            instance = xw.App(visible=False)
            xlsx_data = xw.Book(name).sheets[0]
            df = xlsx_data.range('A1').options(pd.DataFrame, index = False, expand = 'table').value
            instance.quit()
            instance.kill()
            return df
        output = read_xlsx(file)
    return output

In [19]:
def summary2(input_):
    import copy
    df = copy.deepcopy(input_)
    
    df['구분'] = [x.split("-")[0] for x in df['날짜']]
    df['cnt'] = df['cnt'].astype(int)
    #return df.groupby(['구분', '성별','연령대'])['cnt'].sum()
    return df.groupby(['성별','연령대'])['cnt'].sum()

In [20]:
df1 = read_data('1.소유권이전등기(강제경매로 인한 매각) 신청 매수인 현황.xlsx') # 경매
df2 = read_data('2.소유권이전등기(임의경매로 인한 매각) 신청 매수인 현황.xlsx') # 경매

In [26]:
df = pd.concat([df1, df2])
s_df = summary2(df)
s_df = pd.DataFrame(s_df).reset_index()

In [36]:
st_df = s_df.loc[~s_df['연령대'].isin(['기타', '0~18세(미성년자)'])]; st_df
st_df['portion'] = st_df.cnt / st_df.cnt.sum()

In [43]:
st_df.sort_values('cnt', ascending = False).portion.cumsum()

5     0.186635
4     0.365827
12    0.495283
13    0.614246
3     0.721937
6     0.806384
11    0.875903
14    0.916594
2     0.946899
7     0.968078
10    0.988062
15    1.000000
Name: portion, dtype: float64

* eda

In [284]:
df1['cnt'] = df1['cnt'].astype(int)
df2['cnt'] = df2['cnt'].astype(int)

In [290]:
pd.DataFrame(df1.groupby(['날짜', '연령대'])['cnt'].sum()).reset_index()

           날짜      연령대  cnt
0     2006-11  19세~29세   11
1     2006-11  30세~39세   45
2     2006-11  40세~49세   54
3     2006-11  50세~59세   35
4     2006-11  60세~69세   10
...       ...      ...  ...
1348  2023-09  30세~39세   84
1349  2023-09  40세~49세  104
1350  2023-09  50세~59세  193
1351  2023-09  60세~69세  121
1352  2023-09   70세 이상   33

[1353 rows x 3 columns]

In [291]:
pd.DataFrame(df2.groupby(['날짜', '연령대'])['cnt'].sum()).reset_index()

           날짜          연령대  cnt
0     2006-11  0~18세(미성년자)    2
1     2006-11      19세~29세   65
2     2006-11      30세~39세  200
3     2006-11      40세~49세  218
4     2006-11      50세~59세  151
...       ...          ...  ...
1328  2023-09      30세~39세  153
1329  2023-09      40세~49세  199
1330  2023-09      50세~59세  353
1331  2023-09      60세~69세  190
1332  2023-09       70세 이상   70

[1333 rows x 3 columns]